@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(36 100% 95%);
  --foreground: hsl(36 5% 0%);
  --card: hsl(36 50% 90%);
  --card-foreground: hsl(36 5% 10%);
  --popover: hsl(36 100% 95%);
  --popover-foreground: hsl(36 100% 0%);
  --primary: hsl(36 100% 47%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(36 30% 70%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(-2 30% 85%);
  --muted-foreground: hsl(36 5% 35%);
  --accent: hsl(-2 30% 80%);
  --accent-foreground: hsl(36 5% 10%);
  --destructive: hsl(0, 100%, 38%);
  --destructive-foreground: hsl(36 5% 90%);
  --border: hsl(36 30% 50%);
  --input: hsl(36 30% 18%);
  --ring: hsl(36 100% 47%);
  --chart-1: hsl(12 76% 61%;);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
}

.dark {
  --background: hsl(36 50% 5%);
  --foreground: hsl(36 5% 90%);
  --card: hsl(36 50% 0%);
  --card-foreground: hsl(36 5% 90%);
  --popover: hsl(36 50% 5%);
  --popover-foreground: hsl(36 5% 90%);
  --primary: hsl(36 100% 47%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(36 30% 10%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(-2 30% 15%);
  --muted-foreground: hsl(36 5% 60%);
  --accent: hsl(-2 30% 15%);
  --accent-foreground: hsl(36 5% 90%);
  --destructive: hsl(0, 96%, 42%);
  --destructive-foreground: hsl(36 5% 90%);
  --border: hsl(36 30% 18%);
  --input: hsl(36 30% 18%);
  --ring: hsl(36 100% 47%);
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }
}
